
.container {
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.letterDecor{
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}
.letter{
    font-family: 'Gowun Batang', serif;
    font-size: 1.2rem;
    white-space: pre-wrap; /* 엔터(줄바꿈)를 화면에 그대로 반영 */
    line-height: 1.8;      /* 줄 간격 조절 */
    text-align: center;
}