/* index.module.css */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 동일한 열 */
    gap: 15px; /* 이미지 사이 간격 */
    max-width: 900px;
    padding-top: 100px;
    margin: auto;
}


.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 찌그러지지 않게 비율 유지 */
    aspect-ratio: 1 / 1; /* 정사각형 비율 유지 */
    display: block;
}