.container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/src/assets/image/wedding_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}


/* 모바일 화면 (너비 768px 이하) */
@media (max-width: 768px) {
    .container {
    }
}