.container {
    width: 100%;
    height: 100dvh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imageAreaGuide {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 9 / 16;
    display: flex;
}

/* 실제 배경 이미지 스타일 */
.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

/* 이름 오버레이 스타일 */
.nameOverlay {
    position: absolute;
    bottom: 19.5%; 
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #444;
    font-size: 1.4rem;
    font-family: 'Gowun Batang', serif;
    white-space: nowrap;
}

.informationOverlay {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    color: #444;
    font-family: 'Gowun Batang', serif;
    font-size: 1rem;
}

/* 정보 오버레이 내부 p 태그 스타일 */
.informationOverlay p {
    margin: 0;
    line-height: 1.5;
}

.audioPlayer {
    position: absolute;
    top: 10vh;
    right: 3vh;
    z-index: 10;
}