.container {
    background-color: #f0f0f0;
    justify-items: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding-top: 40px;

}

.title {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 50px;
    color: #666666;
}

.letter {
    font-size: 1.2rem;
    white-space: pre-wrap;
    line-height: 1.8;
    text-align: center;
}

.boxContainer {
    padding: 30px 50px 50px 30px;
    width: 80%;
}