#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

/* 2. Firefox */
html, body {
    scrollbar-width: none;
}

/* 3. IE 및 구형 Edge */
html, body {
    -ms-overflow-style: none;
}